* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--font-m);
  transition: 0.2s;
}

body {
  color: var(--text-primary);
}

.app {
  background-color: var(--bg-primary);
}

.app__container {
  min-height: 100vh;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  color: var(--text-primary);
}
