* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--font-m);
  color: var(--text-primary);
  transition: .2s;
}

.app {
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
}

