.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;

  &:disabled {
    cursor: default;
    background-color: var(--color-primary-disabled);
  }

  &:not(:disabled):hover {
    box-shadow: 0 0 30px var(--shadow-primary);
    background-color: var(--color-primary-hover);
  }

  &._icon {
    padding: 10px;
    line-height: 1;
  }
}
