.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    gap: 20px;

    &-link {

      &:hover {
        opacity: .7;
      }
    }
  }

  &__theme-icon {
    cursor: pointer;
    stroke: var(--text-light);
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}